@media screen and (max-width: 768px) {
  .container {
  
     background-color: rgb(242, 250, 253);
  }
}
.container {
  
 background-color: rgb(242, 250, 253);
}

.loader-parent {
 display: flex;
 height: 100vh;
 justify-content: center;
 align-items: center;
     
 
}

.loader {
 border: 16px solid #ffeded; /* Light grey */
 border-top: 16px solid #b7fbfe; /* Blue */
 border-radius: 50%;
 width: 100px;
 height: 100px;
 animation: spin 5s linear infinite;
}
@keyframes spin {
 0% { transform: rotate(0deg); }
 50% { transform: rotate(180deg); }
 100% { transform: rotate(360deg); }
}